.applications{
  background-color: @menu-color;
  padding-top: 28px;
  padding-bottom: 30px;
  &__btn-buy{
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 45px;
    text-align: center;
    border: 3px solid white;
    border-radius: 30px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
  }
  &__icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 55px;
    margin-bottom: 22px;
  }
  &__text{
    font-size: 14px;
    line-height: 24px;
    font-weight: lighter;
    color: white;
    text-align: center;
  }
}
