.contest-footer {
  width: 320px;
  margin: 0 auto;
  padding-top: 65px;
  &__logo {
    display: block;
    margin-bottom: 40px;
    background-color: lightseagreen;
    img {
      margin: 0 auto;
    }
  }
  &__social-links {
    margin-bottom: 40px;
    display: flex;
    &__link{
      display: block;
      width: 50px;
      height: 50px;
      border: 22px solid white;
      border-radius: 50%;
      box-shadow: 0 0 0 3px #e5e5e5;
    }
  }
  .copyright{
    text-decoration: none;
    color: black;

    display: block;
  }
}
