@import "../variables.less";
.contacts{
  background-color: #8fb4b1;
  padding-top: 48px;
  &__text{
    font-family: @font-family;
    color: black;
    font-size: 24px;
    line-height: 30px;
    font-weight: lighter;
    padding: 0 45px;
    text-align: center;
    margin-bottom: 45px;
  }
  &__item-header{
    font-family: @font-family;
    color: black;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    padding: 0 5px;
    text-align: center;
    margin-bottom: 14px;
  }
  &__item{
    color: @contacts-item-color;
    font-family: @font-family;
    font-size: 24px;
    line-height: 24px;
    font-weight: lighter;
    padding: 0 15px;
    text-align: center;
  }
}
