.frm-contest{
  background-color: white;
    &__text {
      background-color: white;
      padding: 45px 20px 0;
      color: black;
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 40px;
      span {
        display: none;
      }
    }
    &__fields-group {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      label, h2{
        color: @frm-label-color;
        font-size: 14px;
        line-height: 18px;
        font-weight: normal;
        text-transform: uppercase;
        text-align: left;
        padding-left: 23px;
        margin-bottom: 13px;
      }
      h2 {
        padding: 0;
        text-align: center;
        margin-top:0;
      }
      input[type="text"] {
        border: 2px solid @input-border-color;
        border-radius: 2px;
        font-family: @font-family;
        color: black;
        font-size: 18px;
        line-height: 30px;
        vertical-align: middle;
        font-weight: normal;
        padding: 14px 22px;
        width: 100%;
        margin-bottom: 25px;
      }
      input[type="radio"]{
        display:none;

      }
      input:last-of-type {
        margin-bottom: 40px;
      }
      input::placeholder {
        font-family: @font-family;
        color: black;
        font-size: 18px;
        line-height: 30px;
        font-weight: normal;
      }
      &--player {
        background-color: white;
      }
      &--travel-app {
        background-color: green;
        padding-top: 36px;
        h2 {
          margin-bottom: 40px;
        }
        label {
          color: black;
          text-transform: none;
          font-size: 18px;
          line-height: 30px;
          padding-left: 60px;
          position: relative;
        }
        label:before{
          content: "";
          position: absolute;
          left:0;
          width: 39px;
          height: 39px;
          background: @frm-label-color;
          border: 10px solid white;
          border-radius: 50%;
          box-shadow: 0 0 0 2px blue;

        }
      }
      &--travel-period {
        padding-top: 50px;
        h2 {
          margin-bottom: 45px;
        }
      }
    }
}
