.main-header {
  width: 320px;
  margin: 0 auto;
  background: @menu-color url(../img/background-mobile@1x.jpg) no-repeat center/cover;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__text{
    background: transparent;
    color: white;
    font-size: 24px;
    line-height: 30px;
    font-weight: lighter;
    padding: 35px 46px 58px;
    margin: 0;
    text-align: center;
  }
}
