.shop{
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
  @td-width: 276px;
  .rates{
    width: (@td-width+2)*3;
    transform: translateX(-((@td-width)-20));
    &__item{
      background-color: @rates-head-color;
      border: 2px solid @rates-border-color;
      padding: 24px 0;
      width: 276px;
    }
    &__name{
      color: white;
      font-size: 18px;
      line-height: 30px;
      font-weight: bold;
      //padding: 0 48px;
      text-align: center;
      text-transform: uppercase;
    }
    &__price{
      color: white;
      font-size: 24px;
      line-height: 30px;
      font-weight: lighter;
      //padding: 0 48px;
      text-align: center;
      text-transform: uppercase;
    }
    &__feature{
      border: 2px solid @rates-border-color;
      color: black;
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &__slider-switch{
    padding-top: 40px;

  }
}
