@import "../variables.less";


.top-menu {
  background-color: @menu-color;
  //min-width: @sm-screen;
  padding: 22px 6%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //position: relative;
  z-index: 100;
  &__logo{

  }
}





