.top-menu {
  width: 320px;
  padding: 22px 20px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  &__logo {

  }
  &__btn {

  }
}





